<!-- <nav>
  <h3>Product Page - Index - {{publisher.title}}</h3>
</nav> -->

<div class="container">
  <main>
    <h2 class="main-title">Datasets in This Data Product</h2>
    {{#each products as |product|}}
      <h4>{{product.name}} {{link-to "EXPAND" 'products.show' product.id}}</h4>

      <table>
        {{#each product.productDataSubset as |data|}}
          <tr>
            <td>{{data.ticker}}</td>
            <td>{{data.comp_name}}</td>
            <td>{{data.per_end_date}}</td>
          </tr>
        {{/each}}
      </table>
    {{/each}}
  </main>

  <aside>
    <button id = "button-title">Commercial Data</button>
    <h5 class="aside-title">Data Overview</h5>
    <p class="aside-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
    <table>
      {{#publisher-info title="Delivery Frequency" value=publisher.deliveryFrequency}}{{/publisher-info}}
      {{#publisher-info title="Data Frequency" value=publisher.dataFrequency}}{{/publisher-info}}
      {{#publisher-info title="Reporting Lag" value=publisher.reportingLag}}{{/publisher-info}}
      {{#publisher-info title="History" value=publisher.history}}{{/publisher-info}}
      {{#publisher-info title="Coverage" value=publisher.coverage}}{{/publisher-info}}
    </table>
    <span class="input-tables-field">{{input value="Tables API"}} <i class="fas fa-info-circle input-icon"></i></span>
    <button class="primary-button">Pricing</button>
  </aside>
</div>

{{outlet}}
