<nav>
  <h3>Product Page - Index - {{publisher.title}}</h3>
</nav>

<main>
{{#each products as |product|}}
  <h4>{{product.name}} {{link-to "EXPAND" 'products.show' product.id}}</h4>

  <table>
    {{#each product.productDataSubset as |data|}}
      <tr>
        <td>{{data.ticker}}</td>
        <td>{{data.comp_name}}</td>
        <td>{{data.per_end_date}}</td>
      </tr>
    {{/each}}
  </table>
{{/each}}
</main>

<aside>

</aside>

{{outlet}}
